extends ../layouts/main_layout.jade

block title
  title Main Page
  
prepend content
  .page
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium repudiandae, debitis harum veniam rerum eligendi beatae veritatis odio dolorem iure ipsa, deleniti qui, voluptatibus porro magnam unde quod! Architecto, official.
    +icon('home', 'red_mod')
